<h2 class='welcome_name'> Welcome, <%=@user.firstname %>	</h2>


<div class='mylistingstablehome'>
   <a class='yourpreferences' href='/preferences'>Your preferences:</a> <br><br>
    <a class='createlistingshomepage' href='/create_listing'> Create Listing </a>    
  <h3> Bookmarked Listings </h3>

</div>

<div class='mylistings'>
  <h3> My Listings </h3>


</div>
<!--Check Out Listings-->
<div class='listingstablehome'>
  <h3>Check out some listings:</h3>
  <% @listings.each do |listing| %>
     <%= listing.user.username%>
  <br> <br>
   <img class='img_listings' src='<%= listing.image_url%>'>
   <br>

  Space Description:<%= listing.caption%>
  <% if listing.smoking == 'yes' %>
  <p> Smoker </p>
  <%else%>
  <p> Non-Smoker </p>
  <%end%>

<% if listing.pets == 'yes' %>
<p> Pets allowed </p>
<%else%>
<p> No pets allowed </p>
<%end%>

<% if listing.sex == 'yes' %>
<p> Same sex only </p>
<%else%>
<p> Any sex allowed </p>
<%end%>


  <%= listing.user.sex%>
  <br>

  <br>
  <%= listing.borough%>
  <br>
  <br>
  <%= listing.minage%> years old -
  <%= listing.maxage%> years old
  <br>
<br>

  $<%= listing.minprice%> -
  $<%=listing.maxprice%>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
<%end%>
</div>


  
